body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: #6F6E63;
}

h1 {
	padding-top: 2rem;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid black;
    padding: 0;
	width: 80%;
}

button {
	background-color: grey;
	border: hidden;
	padding: 1rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
	width: 3%;
	max-width: 100%;
	height: auto;
}

input {
	color: white;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
}


.city-button {

}

.inner-lane {
	border-top: dashed;
	border-width: 4px;
	color: white;
}

.outer-lane {
	height: 3px;
	color: black;
}

.inside-lane {
	height: 2rem;
}

.fade-animation {
  animation: fadein 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}


