body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background-color: #6F6E63;
}

h1 {
	padding-top: 2rem;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid black;
    padding: 0;
	width: 80%;
}

button {
	background-color: grey;
	border: hidden;
	padding: 1rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

img {
	width: 3%;
	max-width: 100%;
	height: auto;
}

input {
	color: white;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid white;
}


.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius:0px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #fff;
    color: #fff;    border: 3px solid #fff;
}

.btn-1a:hover, .btn-1a:active {
    color: #6F6E63;
    background: #fff;
}

.inner-lane {
	border-top: dashed;
	border-width: 4px;
	color: white;
}

.outer-lane {
	height: 3px;
	color: black;
}

.inside-lane {
	height: 2rem;
}

.fade-animation {
  animation: fadein 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#credits {
	font-size: 10px;
}


